html,
body,
#root {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
	background: #0a0b10;
	color: #e6ebff;
}

* {
	box-sizing: border-box;
}

